{{#if data}}
    {{#if data.torneio}}
        <div class="title__bar">
            <h1>{{data.torneio.designacao}} - {{data.torneio.localidade}}</h1>
            <h3>{{data.torneio.ano}}</h3>
        </div>
    {{/if}}

{{> messages}}
{{#if erros}}
    {{#each erros}}
        <div class="warning_msg">
            {{err_msg}}
            <a href="#" class="msg_close">x</a>
        </div>
    {{/each}}
{{/if}}

{{#unless data.campos}}
<form action="/torneio/distribuirEquipas" method="post">
    <p>Equipas por campo na 1º Fase</p>
    <label for="minEquipasCampo">Mínimo:</label>
    <input type="text" value="{{#if data.minEquipas}}{{data.minEquipas}}{{else}}4{{/if}}" pattern="^[0-9]+$" name="minEquipasCampo" id="minEquipasCampo" required><br>
    <label for="maxEquipasCampo">Máximo:</label>
    <input type="text" value="{{#if data.maxEquipas}}{{data.maxEquipas}}{{else}}6{{/if}}" pattern="^[0-9]+$" name="maxEquipasCampo" id="maxEquipasCampo" required><br><br>
    <input type="submit" name="distribuiEquipasBtn" class="distributeTeams_btn btn primary_btn" value="Distribuir todas as equipas pelos campos">
</form>
{{else}}
<div class="campos_wrapper">
    <h2>Campos</h2>
    <div class="lista_campos">
        {{#each data.campos}}
            <a href="" class="campo campo-xl">{{this}}</a>
        {{/each}}
    </div>
</div>
{{/unless}}

{{/if}}