{{#if data}}
    {{#if data.torneio}}
        <div class="title__bar">
            <h1>{{data.torneio.designacao}} - {{data.torneio.localidade}} - {{data.escalaoInfo.designacao}}</h1>
            <h3>{{data.torneio.ano}}</h3>
        </div>
    {{/if}}

{{> messages}}

<div class="table_sidebar__wrapper">
    <div class="table__content">
        <div class="buttons_bar">
            <div class="search_bar">
                {{#if data.equipa_id}}
                    <div class="search_equipaID">
                        {{data.equipa_id}}
                        <a href="/equipas"><i class="fas fa-times-circle"></i></a>
                    </div>
                {{/if}}

                <form action="/equipas/pesquisa" method="post" class="searchBox">
                    <input type="text" name="searchTeamID" class="searchBox__input" pattern="^[0-9]+$" placeholder="Equipa"/>
                    <button class="searchBox__btn"><i class="fa fa-search no-margin"></i></button>
                </form>
            </div>
            <div class="action_btns a-right">
                <button class="btn classificacao_btn"><i class="fas fa-list"></i>Classificação</button>
                <button class="btn print_btn" onclick="window.print()"><i class="fas fa-print"></i>Imprimir</button>
            </div>
        </div>

    {{#if data.campos}}
        {{#each data.campos}}
        <div class="campo__wrapper">
            <div class="campo__title">Campo {{campo}}</div>
            <div class="campo__labels">
                <div class="parcial_label">Parcial 1</div>
                <div class="parcial_label">Parcial 2</div>
                <div class="parcial_label">Parcial 3</div>
                <div class="vencedor_label">Vencedor</div>
            </div>
            {{#each equipas}}
            <form action="" method="post" class="resultados__form">
                <div class="equipasInfo__wrapper">
                    <div class="equipas__wrapper">
                        <div class="equipa">
                            <div class="equipa_id">{{equipa1_id}}</div>
                            <div class="equipa_nome">{{equipa1_primeiro_elemento}}</div>
                            <div class="equipa_nome">{{equipa1_segundo_elemento}}</div>
                            <div class="equipa_localidade">{{equipa1_localidade}}</div>
                            <div class="equipa_parcial"><input type="text" name="equipa1_parcial1" size="8" value="30"></div>
                            <div class="equipa_parcial"><input type="text" name="equipa1_parcial2" size="8" value="6"></div>
                            <div class="equipa_parcial"><input type="text" name="equipa1_parcial3" size="8" value="30"></div>
                            <div class="equipa_vencedor equipa1_pontos">&nbsp;</div>
                        </div>
                        <div class="equipa">
                            <div class="equipa_id">{{equipa2_id}}</div>
                            <div class="equipa_nome">{{equipa2_primeiro_elemento}}</div>
                            <div class="equipa_nome">{{equipa2_segundo_elemento}}</div>
                            <div class="equipa_localidade">{{equipa2_localidade}}</div>
                            <div class="equipa_parcial"><input type="text" name="equipa2_parcial1" size="8" value="18"></div>
                            <div class="equipa_parcial"><input type="text" name="equipa2_parcial2" size="8" value="30"></div>
                            <div class="equipa_parcial"><input type="text" name="equipa2_parcial3" size="8" value="6"></div>
                            <div class="equipa_vencedor equipa2_pontos">&nbsp;</div>
                        </div>
                    </div>
                    <div class="btn_wrapper">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <a href="" class="btn__guardar-resultados" name="guardaResultados" data-jogoid="{{jogo_id}}">Guardar</a>
                        <!--<input type="submit" class="btn__guardar-resultados" name="guardaResultados" value="Guardar">-->
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        {{/each}}
    {{/if}}
    </div>
    
    {{#if campos}}
        <div class="sidebar__content">
            <p class="sidebar__title">Campos</p>
            <div class="campos">
                {{#each campos}}
                <a href="/torneio/resultados/escalao/{{../data.escalao}}/fase/{{../data.fase}}/campo/{{this}}" class="campo {{#ifCond this '==' ../data.campo}}campo_selected{{/ifCond}}">{{this}}</a>
                {{/each}}
            </div>
        </div>
    {{/if}}

</div>

    {{#if fases}}
        <div class="fase__wrapper">
            {{#each fases}}
                <a href="#" class="fase__item {{#ifCond this '==' ../data.fase}}fase__item-active{{/ifCond}}">Fase {{this}}</a>
            {{/each}}
        </div>
    {{/if}}
{{/if}}