{{#if data}}
    {{#if data.torneio}}
        <div class="title__bar">
            <h1>{{data.torneio.designacao}} - {{data.torneio.localidade}}</h1>
            <h3>{{data.torneio.ano}}</h3>
        </div>
    {{/if}}

{{> messages}}

{{#if erros}}
    {{#each erros}}
        <div class="error_msg">
            {{err_msg}}
            <a href="#" class="msg_close">x</a>
        </div>
    {{/each}}
{{/if}}

<div>
    <p>Definir número de campos!</p>
    <form action="/torneio/setNumeroCampos" method="post">
        <label for="numCampos">Número de Campos:</label>
        <input type="text" name="numCampos" pattern="^[0-9]+$" {{#if data.numCampos}}value="{{data.numCampos}}"{{/if}} required><br>
        <input type="submit" value="Definir e avançar">
    </form>
</div>

{{/if}}