{{> messages}}
{{#if erros}}
    {{#each erros}}
        <div class="warning_msg">
            {{err_msg}}
            <a href="#" class="msg_close">x</a>
        </div>
    {{/each}}
{{/if}}
<form action="/admin/editarTorneio/{{torneio.torneio_id}}?_method=PUT" method="post">
    <label for="designacao">Designação</label>
    <input type="text" name="designacao" value="{{torneio.designacao}}" required><br>
    <label for="localidade">Localidade</label>
    <input type="text" name="localidade" value="{{torneio.localidade}}" required><br>
    <label for="ano">Ano</label>
    <input type="text" name="ano" value="{{torneio.ano}}" required><br>
    <input type="submit" value="Adicionar">
</form>