{{> messages}}
{{#if erros}}
    {{#each erros}}
        <div class="warning_msg">
            {{err_msg}}
            <a href="#" class="msg_close">x</a>
        </div>
    {{/each}}
{{/if}}
<form action="/admin/torneios/editarTorneio/{{torneio.torneio_id}}?_method=PUT" method="post">
    <label for="designacao">Designação</label>
    <input type="text" name="designacao" value="{{torneio.designacao}}" required><br>
    <label for="localidade">Localidade</label>
    <input type="text" name="localidade" pattern="^[^0-9]+$" value="{{torneio.localidade}}" required><br>
    <label for="ano">Ano</label>
    <input type="text" name="ano" pattern="^[0-9]{4}$" value="{{torneio.ano}}" required><br>
    <label for="campos">Número de campos: </label>
    <input type="text" name="campos" pattern="^[0-9]+$" value="{{torneio.campos}}" required><br>
    <input type="submit" value="Actualizar">
</form>