{{> messages}}
{{#if erros}}
    {{#each erros}}
        <div class="warning_msg">
            {{err_msg}}
            <a href="#" class="msg_close">x</a>
        </div>
    {{/each}}
{{/if}}
<form action="/admin/escaloes/editarEscalao/{{escalao.escalao_id}}?_method=PUT" method="post">
    <label for="designacao">Designação</label>
    <input type="text" name="designacao" value="{{escalao.designacao}}" required><br>
    {{#ifCond escalao.sexo '==' 1}}
        <input type="radio" name="sexo" value="1" checked required> Masculino<br>
    {{else}}
        <input type="radio" name="sexo" value="1" required> Masculino<br>
    {{/ifCond}}
    {{#ifCond escalao.sexo '==' 0}}
        <input type="radio" name="sexo" value="0" checked required> Feminino<br>
    {{else}}
        <input type="radio" name="sexo" value="0" required> Feminino<br>
    {{/ifCond}}
    <input type="submit" value="Adicionar">
</form>