{{> messages}}
<div class="buttons_bar">
    <div class="action_btns a-right">
        <a href="/admin/torneios/adicionarTorneio" class="btn primary_btn"><i class="fa fa-plus"></i>Novo Torneio</a>
    </div>
</div>
<table  class="listTable">
    <thead>
        <tr>
            <th></th>
            <th>Designação</th>
            <th>Localidade</th>
            <th>Campos</th>
            <th>Ano</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#if torneios}}
        {{#each torneios}}
            <tr>
                <td>
                {{#ifCond activo '==' 1}}
                    <a href="/admin/torneios/activaTorneio/{{torneio_id}}"><i class="fas fa-check-square torneio-active"></i></a>
                {{else}}
                    <a href="/admin/torneios/activaTorneio/{{torneio_id}}"><i class="fas fa-check-square torneio-not-active"></i></a>
                {{/ifCond}}
                </td>
                <td>{{designacao}}</td>
                <td class="w30 table_cell_center">{{localidade}}</td>
                <td class="w5 table_cell_center">{{campos}}</td>
                <td class="w5 table_cell_center">{{ano}}</td>
                <td class="w10"><a href="/admin/torneios/editarTorneio/{{torneio_id}}" class="btn edit_btn"><i class="fa fa-edit"></i>Editar</a></td>
                <td class="w10">
                    <form action="/admin/torneios/{{torneio_id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn delete_btn"><i class="fa fa-trash"></i>Apagar</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    {{else}}
        <tr>
            <td colspan="6">Não existem torneios registados</td>
        </tr>
    {{/if}}
    </tbody>
</table>