{{#if torneio}}
    <div class="title__bar">
        <h1>{{torneio.designacao}} - {{torneio.localidade}}</h1>
        <h3>{{torneio.ano}}</h3>
    </div>
{{/if}}
{{> messages}}
{{#if erros}}
    {{#each erros}}
        <div class="warning_msg">
            {{err_msg}}
            <a href="#" class="msg_close">x</a>
        </div>
    {{/each}}
{{/if}}
<form action="/equipas/adicionarEquipa" method="post">
    <label for="primeiro_elemento">Nome do Primeiro Elemento</label>
    <input type="text" name="primeiro_elemento" pattern="[^0-9]{2,}" required><br>
    <label for="segundo_elemento">Nome do Segundo Elemento</label>
    <input type="text" name="segundo_elemento" pattern="[^0-9]{2,}" required><br>
    <label for="Localidade">Localidade</label>
    <input type="text" name="localidade" pattern="[^0-9]{2,}" required><br>
    <p>Escalões</p>
    <p>Masculino</p>
    {{#each escaloes}}
        {{#ifCond sexo '==' 1}}
            <input type="radio" name="escalao" value="{{escalao_id}}" required>{{designacao}}
        {{/ifCond}}
    {{/each}}
    <p>Feminino</p>
    {{#each escaloes}}
        {{#ifCond sexo '==' 0}}
            <input type="radio" name="escalao" value="{{escalao_id}}" required>{{designacao}}
        {{/ifCond}}
    {{/each}}
    <br>
    <input type="submit" value="Registar">
</form>