{{#if data}}
    {{#if data.torneio}}
        <div class="title__bar">
            <h1>{{data.torneio.designacao}} - {{data.torneio.localidade}}</h1>
            <h3>{{data.torneio.ano}}</h3>
        </div>
    {{/if}}

{{> messages}}

<div class="table_sidebar__wrapper">
    <div class="table__content">
        <div class="buttons_bar">
            <div class="search_bar">
                {{#if data.equipa_id}}
                    <div class="search_equipaID">
                        {{data.equipa_id}}
                        <a href="/equipas"><i class="fas fa-times-circle"></i></a>
                    </div>
                {{/if}}
                <form action="/equipas/pesquisa" method="post" class="searchBox">
                    <input type="text" name="searchTeamID" class="searchBox__input" placeholder="Equipa"/>
                    <button class="searchBox__btn"><i class="fa fa-search no-margin"></i></button>
                </form>
            </div>
            <div class="action_btns a-right">
                <a href="/equipas/adicionarEquipa" class="btn primary_btn"><i class="fa fa-plus"></i>Adicionar Equipa</a>
                <button class="btn print_btn" onclick="window.print()"><i class="fas fa-print"></i>Imprimir</button>
            </div>
        </div>
        <table class="listTable equipasTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Elementos</th>
                    <th>Localidade</th>
                    <th>Escalão</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#if data.equipas}}
                {{#each data.equipas}}
                    <tr>
                        <td class="w5">{{equipa_id}}</td>
                        <td>{{primeiro_elemento}}<br>{{segundo_elemento}}</td>
                        <td class="w20 table_cell_center">{{localidade}}</td>
                        <td class="w20 table_cell_center">{{designacao}}<br>({{#ifCond sexo '==' 1}}Masculino{{else}}Feminino{{/ifCond}})</td>
                        <td class="w5"><a href="/equipas/editarEquipa/{{user_id}}" class="btn edit_btn"><i class="fa fa-edit"></i>Editar</a></td>
                        <td class="w5">
                            <form action="/equipas/{{user_id}}?_method=DELETE" method="POST">
                                <button type="submit" class="btn delete_btn"><i class="fa fa-trash"></i>Apagar</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="6">Não existem equipas</td>
                </tr>
            {{/if}}
            </tbody>
        </table>
    </div>
    
    {{#ifCond data.escaloes '||' data.localidades}}
        <div class="sidebar__content">
            <p class="sidebar__title">Filtros</p>
            {{#if data.escaloes}}
                <p class="sidebar__title">Escalões</p>
                    <!--{{#if data.filtros}}
                        <a href="/equipas" class="escalao_btn">Todos</a>
                    {{else}}
                        <a href="/equipas" class="escalao_btn escalao_btn__selected">Todos</a>
                    {{/if}}-->
                <p class="sidebar__subtitle">Masculino</p>
                    {{#each data.escaloes}}
                        <div class="filtro-box">
                            {{#ifCond sexo '==' 1}}
                                {{#ifCond ../data.filtros.escalao '==' escalao_id}}
                                    <a href="/equipas/filtro/{{#if ../data.filtros.localidade}}localidade/{{../data.filtros.localidade}}/{{/if}}escalao/{{escalao_id}}" class="filtro_btn filtro_btn__selected">{{designacao}}</a>
                                    <a href="/equipas" class="filtro__close"><i class="fas fa-times-circle"></i></a>
                                {{else}}
                                    <a href="/equipas/filtro/{{#if ../data.filtros.localidade}}localidade/{{../data.filtros.localidade}}/{{/if}}escalao/{{escalao_id}}" class="filtro_btn">{{designacao}}</a>
                                {{/ifCond}}
                            {{/ifCond}}
                        </div>
                    {{/each}}
                <p class="sidebar__subtitle">Feminino</p>
                    {{#each data.escaloes}}
                        <div class="filtro-box">
                            {{#ifCond sexo '==' 0}}
                                {{#ifCond ../data.filtros.escalao '==' escalao_id}}
                                    <a href="/equipas/filtro/{{#if ../data.filtros.localidade}}localidade/{{../data.filtros.localidade}}/{{/if}}escalao/{{escalao_id}}" class="filtro_btn filtro_btn__selected">{{designacao}}</a>
                                    <a href="/equipas" class="filtro__close"><i class="fas fa-times-circle"></i></a>
                                {{else}}
                                    <a href="/equipas/filtro/{{#if ../data.filtros.localidade}}localidade/{{../data.filtros.localidade}}/{{/if}}escalao/{{escalao_id}}" class="filtro_btn">{{designacao}}</a>
                                {{/ifCond}}
                            {{/ifCond}}
                        </div>
                    {{/each}}
            {{/if}}
            {{#if data.localidades}}
                <p class="sidebar__title">Localidades</p>
                    {{#each data.localidades}}
                        <div class="filtro-box">
                            {{#ifCond ../data.filtros.localidade '==' localidade}}
                                <a href="/equipas/filtro/localidade/{{localidade}}{{#if ../data.filtros.escalao}}/escalao/{{../data.filtros.escalao}}{{/if}}" class="filtro_btn filtro_btn__selected">{{localidade}}</a>
                                <a href="/equipas" class="filtro__close"><i class="fas fa-times-circle"></i></a>
                            {{else}}
                                <a href="/equipas/filtro/localidade/{{localidade}}{{#if ../data.filtros.escalao}}/escalao/{{../data.filtros.escalao}}{{/if}}" class="filtro_btn">{{localidade}}</a>
                            {{/ifCond}}
                        </div>
                    {{/each}}
            {{/if}}
        </div>
    {{/ifCond}}
    
</div>
{{/if}}